:root {
    --primary-color: #80bfac; 
    --secondary-color: #004245;   
    --white-color: #FFFFFF;  
    --shadow: rgba(0, 66, 69, 0.2);     
}

/* Button Styles */
.styled-button {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color)); /* Gradient background */
    color: var(--white-color); /* Text color */
    border: none; /* Remove border */
    border-radius: 2rem; /* Rounded corners */
    padding: .6rem 2rem; /* Padding */
    font-size: 1.8rem; /* Font size */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for background and shadow */
    outline: none; /* Remove outline */
    position: relative; /* Position for pseudo-elements */
    font-weight: 600; /* Bold text */
    text-decoration: none; /* Remove underline */
    overflow: hidden; /* Hide overflow */
}

/* Before pseudo-element for hover effect */
.styled-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; /* Start from the left */
    width: 100%; /* Match button width */
    height: 100%; /* Match button height */
    background: rgba(255, 255, 255, 0.2); /* Light overlay */
    transform: scaleY(0); /* Start scaled down */
    transition: transform 0.3s ease; /* Smooth transition */
    border-radius: 2rem; /* Match the button's border radius */
}

/* Hover effect */
.styled-button:hover::before {
    transform: scaleY(1); /* Scale to full height */
}

/* Change button styles on hover */
.styled-button:hover {
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color)); /* Reverse gradient */
    color: var(--white-color); /* Text color remains white */
    box-shadow: 0 4px 15px var(--shadow); /* Add shadow */
}

/* Focus effect for accessibility */
.styled-button:focus {
    outline: 2px solid var(--secondary-color); /* Outline for focus */
    outline-offset: 2px; /* Space between outline and button */
}