:root {
    --primary-color: #80bfac; 
    --secondary-color: #004245;   
    --white-color: #FFFFFF;  
    --shadow: rgba(0, 66, 69, 0.2);     
}

.hero-container {
    display: flex;
    flex-direction: row; /* Keep items in a row */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
    gap: 2rem; /* Add gap between items */
}

.hero-container img {
    max-width: 600px; /* Set a max width for the image */
    width: 100%; /* Ensure it scales down */
    height: auto; /* Maintain aspect ratio */
}
.hero-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Responsive Styles */
@media (max-width: 1200px) {
    .hero-container {
        padding: 2rem; /* Adjust padding */
    }
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column; /* Stack elements on smaller screens */
        padding: 2rem;
        gap: 2rem; /* Maintain gap */
    }
}

@media (max-width: 480px) {
    .hero-container {
        padding: 1rem; /* Minimal padding for small screens */
    }
}